{% extends 'hat.html' %}
{% block content %}
{% load loc_extra %}

<title>{{ headers.BOARD|return_item:lang }} | Altnet</title>
<div class="row col-">
      <!-- GLITCHY TEXT SHIT -->
        <div class=" col-lg-9 col-sm-12 col-md-12 col-xl-9 content">

       <br>
  <div class="trds">
  <main class="contentd" role="main">
  <header>
 <h1 data-text="{{ headers.BOARD|return_item:lang }}">{{ headers.BOARD|return_item:lang }}</h1></header></main></div>
  <br>

<!-- LAST FIVE THREADS -->
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{ board.LATEST|return_item:lang }}</li>
    {% if latest_threads %}
      {% for thread in latest_threads %}
      <li class="breadcrumb-item"><a href="#{{ thread.thread_title }}">{{ thread.thread_title }}</a></li>
      {% endfor %}
      {% else %}
      <li class="breadcrumb-item"><a href="#">{{ errors.NO_THREADS|return_item:lang }}</a></li>
      {% endif %}
  </ol>
</nav>
<br>
<!-- LAST FIVE THREADS -->
            <!-- CREATE A THREAD MODAL-->
            <!-- Button trigger modal -->


{% if latest_threads %}
            {% for thread in latest_threads %}
<!-- THREADS -->
  <div class="card">
    <div class="card-body" id="{{ thread.thread_title }}">
        {% if thread.category == 'Random' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/random.png" alt="Random" width="80px" height="80px"> </p>
        {% elif thread.category == 'Broadcast' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/broadcast.png" alt="Broadcast" width="80px" height="80px"> </p>
        {% elif thread.category == 'Animation' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/animation.png" alt="Animation" width="80px" height="80px"> </p>
        {% elif thread.category == 'Videogames' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/videogames.png" alt="Videogames" width="80px" height="80px"> </p>
        {% elif thread.category == 'Cinematics' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/cinema.png" alt="Cinematics" width="80px" height="80px"> </p>
        {% elif thread.category == 'Artwork' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/art.png" alt="Artwork" width="80px" height="80px"> </p>
         {% elif thread.category == 'Esports' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/esports.png" alt="Random" width="80px" height="80px"> </p>
        {% elif thread.category == 'Memes' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/memes.png" alt="Broadcast" width="80px" height="80px"> </p>
        {% elif thread.category == 'Writing' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/writing.png" alt="Animation" width="80px" height="80px"> </p>
        {% elif thread.category == 'Politics' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/politics.png" alt="Videogames" width="80px" height="80px"> </p>
        {% elif thread.category == 'NSFW' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/adult.png" alt="Cinematics" width="80px" height="80px"> </p>
        {% elif thread.category == 'Online' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/online.png" alt="Artwork" width="80px" height="80px"> </p>
         {% elif thread.category == 'Offline' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/offline.png" alt="Random" width="80px" height="80px"> </p>
        {% elif thread.category == 'Feedback' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/feedback.png" alt="Broadcast" width="80px" height="80px"> </p>
        {% elif thread.category == 'Fresh Air' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/fresh_air.png" alt="Animation" width="80px" height="80px"> </p>
        {% elif thread.category == 'HiTech' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/hitech.png" alt="Videogames" width="80px" height="80px"> </p>
        {% elif thread.category == 'Custom' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/user_default2.png" alt="Cinematics" width="80px" height="80px"> </p>
        {% else %}
        {{ thread.category }}
        {% endif%}
<div>
  <div class="d-flex flex-row mb-3">
    <a class="userlk" href="{% url 'Board:guest' thread.thread_author %}">
      {{ thread.thread_author }}</a>&nbsp;&nbsp;{{ locThread.POSTED|return_item:lang }} {{ thread.pub_date }}
    </div>
<h5 class="mt-0" style="text-align: center"><strong><a class="article" href="{% url 'Board:thread' thread.id %}">{{ thread.thread_title }}</a> </strong> </h5>

  </div>

{% if thread.thread_pic %}
        <img src="{{ thread.thread_pic.url }}" alt="Thread Image" class="img-fluid">
        {% endif %}
  <p>
   <br>
  {{ thread.thread_text|linebreaksbr|truncatewords:50 }}
        </p>
  <div>
    <!--<a class="btn btn-link" data-toggle="collapse" href="#{{ thread.id }}" role="button" aria-expanded="true" aria-controls="{{ thread.id }}">
          Comments
        </a> -->
 <p style="text-align: right">
  <a class="btn btn-link" data-toggle="collapse" href="#collapse{{ thread.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ thread.id }}">
    {{ headers.COMMENTS|return_item:lang }}
  </a>

</p>
<div class="collapse" id="collapse{{ thread.id }}">


      <div>
<!-- THREADS -->


<!-- COMMENTS -->
          {% for comment in thread.comment_set.all %}
  <div class="card">
    <div class="card-body">
      <a class="userlk" href="{% url 'Board:guest' comment.comment_author %}">
          {{ comment.comment_author }} {{ locThread.REPLIED|return_item:lang }} {{ comment.pub_date }}
      </a>
      <br /> <br />
        {% if comment.comment_pic %}
        <img src="{{ comment.comment_pic.url }}" alt="Thread Image" class="img-fluid">
        {% endif %}
        <br /><br />
  {{ comment.comment_text|linebreaksbr }} <br>
  <div>
         {% if comment.comment_author == username %}
      <form action="{% url 'Board:delete_comment' comment.id thread.id %}" method="POST">
      {% csrf_token %}
          <div class="d-flex flex-row-reverse"> <input type="hidden" name="id" value="{{ comment.id }}">
              <input type="submit" class="btn btn-link" value="{{ locThread.REMOVE|return_item:lang }}">
        </div>
      </form>
          {% endif %}

</div>
    </div>
  </div>
          {% endfor %}
 <br>
</div>

<!-- COMMENTS -->

<!-- COMMENT FORM -->
<!--<form method="POST" enctype="multipart/form-data">-->
<!--                {% csrf_token %}-->
<!--       <textarea style="background: #454545; color: #f9f9f9;" class="form-control" name="comment_text" rows="2.5" maxlength="1500" placeholder="Start typing your text here"></textarea>-->
<!--       -->
<!--       <input type="hidden" name="key" value="{{ thread.id }}">-->
<!--       <button name="cmm" type="submit" class="btn btn-secondary btn-lg btn-block">Post!</button>-->
<!--   </form>-->
            <h5 class="text-center">{{ locThread.REPLY_TO_THREAD|return_item:lang }}</h5>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ comment_form.as_p }}
         <input type="hidden" name="key" value="{{ thread.id }}">
   <button name="cmm" type="submit" class="btn btn-secondary btn-lg btn-block">Post!</button>
</form>
<!--            <form method="POST" enctype="multipart/form-data">-->
<!--                {% csrf_token %}-->
<!--                <textarea style="background: #454545; color: #f9f9f9;" class="form-control" name="comment_text" rows="2.5" maxlength="1500" placeholder="Start typing your text here"></textarea>-->
<!--                <input type="hidden" name="key" value="{{ thread.id }}">-->
<!--                <button name="cmm" type="submit" class="btn btn-secondary btn-lg btn-block">Post!</button>-->
<!--            </form>-->


            <!-- COMMENT FORM -->
    </div>
  </div>
</div>
  </div>
            <br />
{% endfor %}
          {% else %}
            {{ errors.NO_THREADS|return_item:lang }}
          {% endif %}

<br><br>
<!-- THREADS -->

<!-- THREAD FORM -->
  <br>
            <div class="card border-dark mb-3">

    </div>
</div>

 <div class=" col-lg-3 col- left-sidebar">
      <br>

      <!-- GLITCHY SHIT -->
       <div class="trds">
  <main class="contentd" role="main">
  <header>
 <h1 data-text="{{ headers.TOPICS|return_item:lang }}">{{ headers.TOPICS|return_item:lang }}</h1></header>
  </main></div> <br>
     <!-- GLITCHY SHIT -->
<!-- CATEGORY MENU -->
     <button role="button" type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
  {{ categories.CREATE|return_item:lang }}
</button>
     <br />
   <a href="{% url 'Board:cat' 'Broadcast' %}" role="button" class="btn btn-light btn-lg btn-block">{{ categories.BROADCAST|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Animation' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.ANIMATION|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Artwork' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.ARTWORK|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Cinematics' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.CINEMATICS|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Videogames' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.VIDEOGAMES|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Random' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.RANDOM|return_item:lang }}</a>
     <a href="{% url 'Board:cat' 'Custom' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.CUSTOM|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'NSFW' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.NSFW|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Memes' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.MEMES|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Online' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.ONLINE|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Offline' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.OFFLINE|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Hitech' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.HITECH|return_item:lang }}</a>
     <a href="{% url 'Board:cat' 'Feedback' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.FEEDBACK|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Politics' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.POLITICS|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Esports' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.ESPORTS|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Fresh Air' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.FRESH_AIR|return_item:lang }}</a>
     <a href="{% url 'Board:cat' 'Writing' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.WRITING|return_item:lang }}</a>
     <br />
<!-- CATEGORY MENU -->

<!-- THREADS SHORTVIEW -->
<ul class="list-group">
    {% if latest_threads %}
            {% for thread in latest_threads %}

  <li class="list-group-item"> <h6> <a class="userlk" href="{% url 'Board:guest' thread.thread_author %}"> {{ thread.thread_author }} </a> </h6>
|&nbsp;<a href="{% url 'Board:thread' thread.id %}">  {{ thread.thread_title }} </a>
</li>
    {% endfor %}
    {% else %}
    {{ errors.NO_THREADS|return_item:lang }}
    {% endif %}
</ul>
<!-- THREADS SHORTVIEW -->
<br>
<!-- COMMENTS SHORTVIEW -->
 <ul class="list-group">
     {% if latest_comments %}
     {% for comment in latest_comments %}
       <li class="list-group-item">
           <a class="userlk" href="{% url 'Board:guest' comment.comment_author %}">{{ comment.comment_author }}</a>
            &nbsp;|&nbsp;<a href="{% url 'Board:thread' comment.comment_post.id %}">
           {{ comment.comment_text|truncatewords:15 }} </a>
           {% endfor %}
</li>
     {% else %}
     {{ errors.NO_COMMENTS|return_item:lang }}
     {% endif %}
</ul>
<!-- COMMENTS SHORTVIEW -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<!--      <div class="modal-header">-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> </button>
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
      <div class="modal-body">

           <div class="card border-dark mb-3">
        <h3 class="text-center">{{ categories.CREATE|return_item:lang }} </h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ thread_form.as_p }}
        <button type="submit" name="thread" class="btn btn-secondary btn-lg btn-block">Post!</button>
    </form>
    </div>
</div>

 <div class=" col-lg-3 col- left-sidebar">
      </div>
    </div>
  </div>
</div>
<!-- Modal-->

     {% endblock %}