{% extends 'hat.html' %}
{% block content %}
{% load loc_extra %}
<title>{{ category|return_item:lang }} | Altnet</title>
<div class="row col-">
      <!-- GLITCHY TEXT SHIT -->
        <div class=" col-lg-9 col-sm-12 col-md-12 col-xl-9 content">

       <br>
  <div class="trds">
  <main class="contentd" role="main">
  <header>
 <h1 data-text="{{ category|return_item:lang }}">{{ category|return_item:lang }}<span class="hide-mobile">
  </span></h1></header></main></div>
  <br>
<!-- LAST FIVE THREADS -->
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{ board.LATEST|return_item:lang }}</li>
    {% if latest_threads %}
      {% for thread in latest_threads %}
      <li class="breadcrumb-item"><a href="#{{ thread.thread_title }}">{{ thread.thread_title }}</a></li>
      {% endfor %}
      {% else %}
      <li class="breadcrumb-item"><a href="#">{{ errors.NO_THREADS|return_item:lang }}
</a></li>
      {% endif %}
  </ol>
</nav>
<br>
<!-- LAST FIVE THREADS -->
{% if latest_threads %}
            {% for thread in latest_threads %}
<!-- THREADS -->
    <form method="POST">
  <div class="card">
    <div class="card-body" id="{{ thread.thread_title }}">
        {% if thread.category == 'Random' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/random.png" alt="Random" width="80px" height="80px"> </p>
        {% elif thread.category == 'Broadcast' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/broadcast.png" alt="Broadcast" width="80px" height="80px"> </p>
        {% elif thread.category == 'Animation' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/animation.png" alt="Animation" width="80px" height="80px"> </p>
        {% elif thread.category == 'Videogames' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/videogames.png" alt="Videogames" width="80px" height="80px"> </p>
        {% elif thread.category == 'Cinematics' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/cinema.png" alt="Cinematics" width="80px" height="80px"> </p>
        {% elif thread.category == 'Artwork' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/art.png" alt="Artwork" width="80px" height="80px"> </p>
        {% else %}
        {{ thread.category }}
        {% endif%}
<div>
  <div class="d-flex flex-row mb-3">
    <a class="userlk" href="{% url 'Board:guest' thread.thread_author %}">
      {{ thread.thread_author }}</a>&nbsp;&nbsp;{{ locThread.POSTED|return_item:lang }} {{ thread.pub_date }}
    </div>
<h5 class="mt-0" style="text-align: center"><strong><a class="article" href="{% url 'Board:thread' thread.id %}">{{ thread.thread_title }}</a> </strong> </h5>

  </div>

{% if thread.thread_pic %}
        <img src="{{ thread.thread_pic.url }}" alt="Thread Image" class="img-fluid">
        {% endif %}
  <p>
   <br>
  {{ thread.thread_text|linebreaksbr|truncatewords:50 }}
  </p>
  <div>
    <!--<a class="btn btn-link" data-toggle="collapse" href="#{{ thread.id }}" role="button" aria-expanded="true" aria-controls="{{ thread.id }}">
          Comments
        </a> -->
 <p style="text-align: right">
  <a class="btn btn-link" data-toggle="collapse" href="#collapse{{ thread.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ thread.id }}">
    {{ headers.COMMENTS|return_item:lang }}
  </a>

</p>
<div class="collapse" id="collapse{{ thread.id }}">


      <div>
<!-- THREADS -->

<!-- COMMENTS -->
          {% for comment in thread.comment_set.all %}
<form method="POST">
    {% csrf_token %}
  <div class="card">
    <div class="card-body">
      <a class="userlk" href="{% url 'Board:guest' comment.comment_author %}">
          {{ comment.comment_author }} {{ locThread.REPLIED|return_item:lang }} {{ comment.pub_date }}
      </a>
      <br>
  {{ comment.comment_text|linebreaksbr }} <br>
  <div>


        <input type="hidden" name="id" value="29">
        <button type="submit" class="btn btn-link" name="rm">Remove</button>

</div>
    </div>
  </div>
</form>
          {% endfor %}
 <br>
</div>

<!-- COMMENTS -->

<!-- COMMENT FORM -->

            <h5 class="text-center">{{ locThread.REPLY_TO_THREAD|return_item:lang }}</h5>
            <form method="POST">
                {% csrf_token %}
                <textarea style="background: #454545; color: #f9f9f9;" class="form-control" name="comment_text" rows="2.5" maxlength="1500" placeholder="Start typing your text here"></textarea>
                <input type="hidden" name="key" value="{{ thread.id }}">
                <button name="cmm" type="submit" class="btn btn-secondary btn-lg btn-block">Post!</button>
            </form>


            <!-- COMMENT FORM -->
    </div>
  </div>
</div>
  </div></form>
            <br />
{% endfor %}
          {% else %}
            {{ errors.NO_THREADS|return_item:lang }}
          {% endif %}

<!-- THREADS -->

<!-- THREAD FORM -->
  <br>
 <!-- <div class="card border-dark mb-3">

<h3 class="text-center">Create a thread </h3>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
<input style="background: #454545; color: #f9f9f9;" class="form-control" type="text" name="title" maxlength="100" placeholder="Thread title">
 <textarea style="background: #454545; color: #f9f9f9;" class="form-control" name="text" rows="2.5" maxlength="1500" placeholder="Thread text"></textarea>
   <select style="background: #454545; color: #f9f9f9;" class="form-control" id="topic" name="topic">
      <option value="Random" selected="selected">Random</option>
      <option value="Broadcast">Broadcast</option>
      <option value="Animation">Animation</option>
      <option value="Artwork">Artwork</option>
      <option value="Cinematics">Cinematics</option>
      <option value="Videogames">Videogames</option>
    </select>
    &nbsp;
   <button name="share" type="submit" class="btn btn-secondary btn-lg btn-block">Post!</button>
</form>
</div> -->
</div>


 <div class=" col-lg-3 col- left-sidebar">
      <br>
      <!-- GLITCHY SHIT -->
       <div class="trds">
  <main class="contentd" role="main">
  <header>
<h1 data-text="{{ headers.TOPICS|return_item:lang }}">{{ headers.TOPICS|return_item:lang }}</h1></header></main></div> <br>
     <!-- GLITCHY SHIT -->
<!-- CATEGORY MENU -->
     <button role="button" type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
    {{ categories.CREATE|return_item:lang }}
</button>
     <br />
    <a href="{% url 'Board:cat' 'Broadcast' %}" role="button" class="btn btn-light btn-lg btn-block">{{ categories.BROADCAST|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Animation' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.ANIMATION|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Artwork' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.ARTWORK|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Cinematics' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.CINEMATICS|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Videogames' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.VIDEOGAMES|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Random' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ categories.RANDOM|return_item:lang }}</a><br>
<!-- CATEGORY MENU -->

<!-- THREADS SHORTVIEW -->
<ul class="list-group">
    {% if latest_threads %}
            {% for thread in latest_threads %}

  <li class="list-group-item"> <h6> <a class="userlk" href="{% url 'Board:guest' thread.thread_author %}"> {{ thread.thread_author }} </a> </h6>
|&nbsp;<a href="{% url 'Board:thread' thread.id %}">  {{ thread.thread_title }} </a>
</li>
    {% endfor %}
    {% else %}
            {{ errors.NO_THREADS|return_item:lang }}
    {% endif %}
</ul>
<!-- THREADS SHORTVIEW -->
<br>
<!-- COMMENTS SHORTVIEW -->
 <ul class="list-group">
     {% if latest_comments %}
     {% for comment in latest_comments %}
       <li class="list-group-item">
           <a class="userlk" href="{% url 'Board:guest' comment.comment_author %}">{{ comment.comment_author }}</a>
            &nbsp;|&nbsp;<a href="{% url 'Board:thread' comment.comment_post.id %}">
           {{ comment.comment_text|truncatewords:15 }} </a>
           {% endfor %}
</li>
     {% else %}
     {{ errors.NO_COMMENTS|return_item:lang }}
     {% endif %}
</ul>
<!-- COMMENTS SHORTVIEW -->

     <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<!--      <div class="modal-header">-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> </button>
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
      <div class="modal-body">

           <div class="card border-dark mb-3">
        <h3 class="text-center">Create a thread </h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="thread" class="btn btn-secondary btn-lg btn-block">Post!</button>
    </form>
    </div>
</div>

 <div class=" col-lg-3 col- left-sidebar">
      </div>
    </div>
  </div>
</div>
<!-- Modal-->

     {% endblock %}