<!DOCTYPE html>
{% load loc_extra %}
<html lang="en"><head>
<!-- BOOTSTRAP CSS SHIT -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     {% load static %}
    <link rel="stylesheet" href=" {% static 'css/master.css' %} " type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <!-- BOOTSTRAP CSS SHIT -->

  </head>
  <body>


<div class="container">

  <!-- NAVBAR -->
   <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #222222;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="{% url 'Manager:me' %}"><b>FORGE</b></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    {% if user.is_authenticated %}
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'Manager:me' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.username }}       </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'Board:user' %}">{{ UI.ACCOUNT|return_item:lang }}</a>
            {% if user.username == 'Noise' %}
       <a class="dropdown-item" href="{% url 'admin:index' %}">CMS</a>
            {% endif %}
            <a class="dropdown-item" href="#">{{ UI.SETTINGS|return_item:lang }}</a>
          <a class="dropdown-item" href="{% url 'Manager:logout' %}">{{ UI.LOG_OUT|return_item:lang }}</a>
        </div>
      </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'Manager:login' %}">{{ UI.LOG_IN|return_item:lang }}</a>
      </li>

        {% endif %}
    </ul>
     <span class="navbar-text mx-auto">

<!--     Total amount of users placeholder-->
  </span>
     <ul class="navbar-nav  mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Board:board' %}">{{ UI.BOARD|return_item:lang }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ UI.CHAT|return_item:lang }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Paper:info' %}">{{ UI.INFO|return_item:lang }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Archive:index' %}">{{ UI.ARCHIVE|return_item:lang }}</a>
      </li>
    </ul>
  </div>
</nav>
<!-- NAVBAR -->
<!-- BANNERS SHIT CONTROLS -->
<div class="col-lg-12 head-block"><br>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
     <ol class="carousel-indicators">
    <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleControls" data-slide-to="1"></li>
    <li data-target="#carouselExampleControls" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'imgs/hat3.png' %}" alt="First slide" height="150px">
    </div>
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'imgs/go.png' %}" alt="Second slide" height="150px">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'imgs/threads.png' %}" alt="Third slide" height="150px">
    </div>
  </div>
<br>
</div>
{% block content %} {% endblock %}
<br>
    </div>




 <!-- Optional JavaScript -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</div></div><div id="extwaiimpotscp" style="display:none" v="{c827" f="ZTJNNE1qYzJaVEF4TFRBeE5UQXROekZsWXkxaE9EY3dMV0V5TjJJME16Wmpaams0WTMwPQ==" q="17fd37ac" c="24.76" i="36.91" u="2.664" s="19060320" w="false" m="BMe=" vn="adgr2"></div></div>
</body>
</html>
