{% extends 'hat.html' %}
{% block content %}
{% load loc_extra %}
<title>{{ user.username }} @ Altnet</title>
            <div class="row col-">
               <div class=" col-lg-9 col- content">
                  <br>
                  <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="{{ user.username }}"><span class="hide-mobile">{{ user.username }}</span></h1>
                        </header>
                     </main>
                  </div>
                  <br>

                  <div class="img-fluid" align="center">
                     <img height="400px" width="400px" class="img-fluid" src="{% if add.user_pic %}
                     {{ add.user_pic.url }}
                     {% else %}#{% endif %}" alt="User Avatar" style="border-radius: 5px; width: 100%" >
                  </div>

                  <br>
                  <br>


                  <form method="POST" enctype="multipart/form-data">
                     <div align="center">
                         <div class="row align-items-center">
                         <div class="col-9">
                             {% csrf_token %}
                           {{ upl.as_p }}
                         </div>
                             <div class="col-3">
                           <button type="submit" name="upload_user_pic" class="btn btn-dark" style="height: 50px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upload avatar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                             </div>
                         </div>
                     </div>
                  </form>


                  <br>

                  <form class="form-row align-items-center" method="POST">
                     {% csrf_token %}
                     <div class="col-">&nbsp;&nbsp;</div>
                     <div class="col-9"><textarea type="text" name="post_text" maxlength="1500" style="height: 50px; background: #454545; color: #f9f9f9;" class="form-control" rows="1" placeholder="Type a message"></textarea> </div>
                     <div class="col-"> &nbsp;<button type="submit" name="post" class="btn btn-dark" style="height: 50px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> </div>
                  </form>
                  <br><br>
                   <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="{{ loc.headers.PUBLIC_MESSAGES|return_item:lang }}">{{ loc.headers.PUBLIC_MESSAGES|return_item:lang }}<span class="hide-mobile">
                              </span>
                           </h1>
                        </header>
                     </main>
                  </div>
                     {% if messages %}
                     {% for message in messages %}
                     <div class="card">
                        <div class="card-body">
                           {{ message.post_text }}
<!--                           Don't forget to leave something in the past to come back for it in the future.-->
                        <form action="{% url 'Board:delete_message' message.id %}" method="POST">
                           {% csrf_token %}
                           <input type="hidden" name="id" value="{{ message.id }}">
                           <button type="submit" class="btn btn-link">Remove</button>
                        </form>
                        </div>
                     </div>
                   <br />
                     {% endfor %}
                     {% else %}
                     <div class="alert alert-dark" role="alert">
                        {{ loc.errors.NO_AGENDA_POSTS|return_item:lang }}
                     </div>
                     {% endif %}
                  <br>


<!--          THREADS         -->
                   <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="{{ loc.headers.THREADS|return_item:lang }}">{{ loc.headers.THREADS|return_item:lang }}<span class="hide-mobile">
                              </span>
                           </h1>
                        </header>
                     </main>
                  </div>
                   {% if threads %}
                   {% for thread in threads %}
                   <div class="card">
    <div class="card-body" id="{{ thread.thread_title }}">
        {% if thread.category == 'Random' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/random.png" alt="Random" width="80px" height="80px"> </p>
        {% elif thread.category == 'Broadcast' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/broadcast.png" alt="Broadcast" width="80px" height="80px"> </p>
        {% elif thread.category == 'Animation' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/animation.png" alt="Animation" width="80px" height="80px"> </p>
        {% elif thread.category == 'Videogames' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/videogames.png" alt="Videogames" width="80px" height="80px"> </p>
        {% elif thread.category == 'Cinematics' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/cinema.png" alt="Cinematics" width="80px" height="80px"> </p>
        {% elif thread.category == 'Artwork' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/art.png" alt="Artwork" width="80px" height="80px"> </p>
         {% elif thread.category == 'Esports' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/esports.png" alt="Random" width="80px" height="80px"> </p>
        {% elif thread.category == 'Memes' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/memes.png" alt="Broadcast" width="80px" height="80px"> </p>
        {% elif thread.category == 'Writing' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/writing.png" alt="Animation" width="80px" height="80px"> </p>
        {% elif thread.category == 'Politics' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/politics.png" alt="Videogames" width="80px" height="80px"> </p>
        {% elif thread.category == 'NSFW' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/adult.png" alt="Cinematics" width="80px" height="80px"> </p>
        {% elif thread.category == 'Online' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/online.png" alt="Artwork" width="80px" height="80px"> </p>
         {% elif thread.category == 'Offline' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/offline.png" alt="Random" width="80px" height="80px"> </p>
        {% elif thread.category == 'Feedback' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/feedback.png" alt="Broadcast" width="80px" height="80px"> </p>
        {% elif thread.category == 'Fresh Air' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/fresh_air.png" alt="Animation" width="80px" height="80px"> </p>
        {% elif thread.category == 'HiTech' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/hitech.png" alt="Videogames" width="80px" height="80px"> </p>
        {% elif thread.category == 'Custom' %}
        <p class="text-right"> <img class="align-self-start float-left" src="../../static/imgs/user_default2.png" alt="Cinematics" width="80px" height="80px"> </p>
        {% else %}
        {{ thread.category }}
        {% endif%}
<div>
  <div class="d-flex flex-row mb-3">
    <a class="userlk" href="{% url 'Board:guest' thread.thread_author %}">
      {{ thread.thread_author }}</a>&nbsp;&nbsp;{{ loc.locThread.POSTED|return_item:lang }} {{ thread.pub_date }}
    </div>
<h5 class="mt-0" style="text-align: center"><strong><a class="article" href="{% url 'Board:thread' thread.id %}">{{ thread.thread_title }}</a> </strong> </h5>

  </div>

{% if thread.thread_pic %}
        <img src="{{ thread.thread_pic.url }}" alt="Thread Image" class="img-fluid" width="25%" height="25%">
        {% endif %}
  <p>
   <br>
  {{ thread.thread_text|linebreaksbr|truncatewords:50 }}
        </p>
    </div>
                   </div>
                   <br />
          {% endfor %}
                   {% endif %}
<!--     /THREADS     -->
                  <!-- <div class="card" style="width: 20rem;">
                     <div class="card-body">
                       <h4 class="card-title">Special title treatment</h4>
                       <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                       <a href="#" class="btn btn-primary">Go somewhere</a>
                     </div> -->
               </div>
               <div class=" col-lg-3 col- left-sidebar">
                  <br>
                  <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="{{ loc.profile.INFO|return_item:lang }}">{{ loc.profile.INFO|return_item:lang }}<span class="hide-mobile">
                              </span>
                           </h1>
                        </header>
                     </main>
                  </div>
                   <br />
                       <div class="text-center article">
                           <ul class="list-group text-left">
                           <li class="list-group-item">
                               {{ loc.profile.JOINED|return_item:lang }} {{ user.date_joined }}
                           </li><li class="list-group-item">
                                {{ loc.profile.LAST_LOGIN|return_item:lang }} {{ user.last_login }}
                           </li><li class="list-group-item">
                                {{ loc.profile.ACTIVE|return_item:lang }} {{ user.is_active }}
                           </li><li class="list-group-item">
                               {{ loc.profile.STAFF|return_item:lang }} {{ user.is_staff }}
                               {% if messages %}
                           </li><li class="list-group-item">
                               {{ loc.profile.TOTAL_MESSAGES|return_item:lang }} {{ messages.count }}
                               {% endif %}

                               {% if threads %}
                           </li><li class="list-group-item">
                               {{ loc.profile.TOTAL_THREADS|return_item:lang }} {{ threads.count }}
                               {% endif %}

                               {% if comments %}
                           </li><li class="list-group-item">
                               {{ loc.profile.TOTAL_COMMENTS|return_item:lang }} {{ comments.count }}
                               {% endif %}
                           </li>
                           </ul>
                               </div>
                   <br /> <br />
                                        <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="{{ loc.profile.ONLINE|return_item:lang }}">{{ loc.profile.ONLINE|return_item:lang }}<span class="hide-mobile">
                              </span>
                           </h1>
                        </header>
                     </main>
                  </div>
                    {% if rooms %}
                        <ul class="list-group text-left">
                        {% for room in rooms %}
                        <li class="list-group-item">
                           - <a href="{% url 'Chat:room' room.room_name.id %}"> {{ room.room_name.name }} </a>
                        </li>
                        {% endfor %}
                     </ul>
                     <br>
                  {% else %}
                     <div class="alert alert-dark" role="alert">
                        {{ loc.errors.NO_CHAT_ROOMS|return_item:lang }}
                     </div>
                     {% endif %}
                   <br /> <br />
                    <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="{{ loc.profile.ACTIVITY|return_item:lang }}">{{ loc.profile.ACTIVITY|return_item:lang }}<span class="hide-mobile">
                              </span>
                           </h1>
                        </header>
                     </main>
                  </div>
                  <br>
                  <div class="text-center article">
                        {% if threads %}
                        <ul class="list-group text-left">
                        {% for thread in threads %}
                        <li class="list-group-item">
                           <a href="{% url 'Board:thread' thread.id %}"> {{ thread.thread_title }} </a>

                        </li>
                        {% endfor %}
                     </ul>
                    <br>
                     {% else %}
                    <div class="alert alert-dark" role="alert">
                        {{ loc.errors.NO_THREADS|return_item:lang }}
                     </div>
                     {% endif %}
                     <br>
                        {% if comments %}
                        <ul class="list-group text-left">
                        {% for comment in comments %}
                        <li class="list-group-item">
                           - <a href="{% url 'Board:thread' comment.comment_post.id %}"> {{ comment.comment_text|truncatewords:10 }} </a>
                        </li>
                        {% endfor %}
                     </ul>
                     <br>
                  {% else %}
                     <div class="alert alert-dark" role="alert">
                        {{ loc.errors.NO_COMMENTS|return_item:lang }}
                     </div>
                     {% endif %}
                  </div>
                  <br>
               </div>
            </div>
         </div>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="user_files/jquery-3.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="user_files/popper.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="user_files/bootstrap.js"></script>
      <script type="text/javascript">
         <script>
         // Add the following code if you want the name of the file appear on select
         $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
         });
      </script>
   </body>
</html>
{% endblock %}
