{% extends 'hat.html' %}
{% block content %}
{% load loc_extra %}
{% load static %}
<title>Chat lobby</title>
<div class="row col-">
      <!-- GLITCHY TEXT SHIT -->
        <div class=" col-lg-9 col-sm-12 col-md-12 col-xl-9 content">

       <br>
  <div class="trds">
  <main class="contentd" role="main">
  <header>
 <h1 data-text="{{ loc.chat.ROOM_LIST|return_item:lang }}">{{ loc.chat.ROOM_LIST|return_item:lang }}</h1></header></main></div>
  <br>

<!-- LAST FIVE THREADS -->
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{ loc.chat.ROOM_LIST|return_item:lang }}</li>
    {% if room_list %}
      {% for room in room_list %}
      <li class="breadcrumb-item"><a href="#{{ thread.thread_title }}">{{ room.name }}</a></li>
      {% endfor %}
      {% else %}
      <li class="breadcrumb-item"><a href="#">{{ loc.errors.NO_CHAT_ROOMS|return_item:lang }}</a></li>
      {% endif %}
  </ol>
</nav>
<br>
            {% for key,value in pool.items %}

            <div class="card bg-dark">
  <div class="card-header" style="border:none;">
      <div class="row">
          <div class="col-4">
      <a href="{% url 'Chat:room' value.id %}">{{ key }}</a>
          </div>
          <div class="col-4">
<!--              <img class="card-img" src="{% static 'imgs/feedback.png' %}" alt="Card image">-->
          </div>
          <div class="col-4">
      <p style="text-align:right; font-size:16px" class="text-info">users - {{ value.users_amount }}/{{ value.max_slots }}</p>
          </div>
          <div class="w-100"></div>
          <div class="col-8">
              {% if value.users_amount > 0 %}
                   List of users: {% for user in value.users %} {{ user }} {% endfor %}
              {% endif %}
          </div>
          <div class="col-4">
              <p style="text-align:right; font-size:16px" class="text-info">Host: {{ value.host }}</p>
          </div>

      </div>
          </div>
                <img class="card-img" src="{% static 'imgs/hat.png' %}" alt="Card image">
  <div class="card-body">
              <p style="text-align:center; font-size:16px">{{ value.description }}</p>

<!--    <blockquote class="blockquote mb-0">-->
<!--        <p style="text-align:left; font-size:16px">{{ value.description }}</p>-->
<!--      {% if value.users_amount > 0 %}-->
<!--        <footer class="blockquote-footer">-->
<!--          List of users: {% for user in value.users %} {{ user }} {% endfor %}-->
<!--          {% endif %}-->
<!--          <cite title="Source Title"></cite></footer>-->
<!--    </blockquote>-->
  </div>
</div>
<br />



 {% endfor %}



<br><br>
<!-- THREADS -->

<!-- THREAD FORM -->
  <br>
            <div class="card border-dark mb-3">

    </div>
</div>

 <div class=" col-lg-3 col- left-sidebar">
      <br>

      <!-- GLITCHY SHIT -->
       <div class="trds">
  <main class="contentd" role="main">
  <header>
 <h1 data-text="{{ loc.headers.BOARDS|return_item:lang }}">{{ loc.headers.BOARDS|return_item:lang }}</h1></header>
  </main></div> <br>
     <!-- GLITCHY SHIT -->
<!-- CATEGORY MENU -->
     <button role="button" type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
  {{ loc.chat.CREATE_ROOM|return_item:lang }}
</button>
     <br />
  <a href="{% url 'Board:cat' 'Broadcast' %}" role="button" class="btn btn-light btn-lg btn-block">{{ loc.categories.BROADCAST|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Animation' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ loc.categories.ANIMATION|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Artwork' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ loc.categories.ARTWORK|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Cinematics' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ loc.categories.CINEMATICS|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Videogames' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ loc.categories.VIDEOGAMES|return_item:lang }}</a>
    <a href="{% url 'Board:cat' 'Random' %}" role="button" class="btn btn-dark btn-lg btn-block">{{ loc.categories.RANDOM|return_item:lang }}</a><br>
     <br />
<!-- CATEGORY MENU -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<!--      <div class="modal-header">-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> </button>
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
      <div class="modal-body">

           <div class="card border-dark mb-3">
        <h3 class="text-center">{{ loc.chat.CREATE_ROOM|return_item:lang }} </h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ room_form.as_p }}
        <button type="submit" name="room" class="btn btn-secondary btn-lg btn-block">Post!</button>
    </form>
    </div>
</div>

 <div class=" col-lg-3 col- left-sidebar">
      </div>
    </div>
  </div>
</div>
<!-- Modal-->
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
{% endblock %}