<!DOCTYPE html>
{% load loc_extra %}
<html lang="en"><head>
<!-- BOOTSTRAP CSS SHIT -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     {% load static %}
    <link rel="stylesheet" href=" {% static 'css/master.css' %} " type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'imgs/favicon.ico' %}"/>
    <!-- BOOTSTRAP CSS SHIT -->

  </head>
  <body>


<div class="container">

  <!-- NAVBAR -->
   <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #222222;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="{% url 'Manager:me' %}"><b>Altnet</b></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    {% if user.is_authenticated %}
         <li class="nav-item">
           <a class="nav-link" href="{% url 'Board:user' %}">{{ user.username }}</a>

      </li>
        <li class="nav-item">
        <a class="nav-link" href="#" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">
            {{ loc.UI.ROOM_SETTINGS|return_item:lang }}
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">
            View room info
        </a>
      </li>

<!--       <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="{% url 'Manager:me' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          {{ user.username }}       </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--            {% if user.username == 'Noise' %}-->
<!--       <a class="dropdown-item" href="{% url 'admin:index' %}">CMS</a>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--      </li>-->
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'Manager:login' %}">{{ loc.UI.LOG_IN|return_item:lang }}</a>
      </li>
        {% endif %}
    </ul>
     <span class="navbar-text mx-auto">

<!--     Total amount of users placeholder-->
  </span>
     <ul class="navbar-nav  mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Board:board' %}">{{ loc.UI.BOARD|return_item:lang }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Chat:chat' %}">{{ loc.UI.CHAT|return_item:lang }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Paper:info' %}">{{ loc.UI.INFO|return_item:lang }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Archive:index' %}">{{ loc.UI.ARCHIVE|return_item:lang }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ loc.UI.SETTINGS|return_item:lang }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Manager:logout' %}">{{ loc.UI.LOG_OUT|return_item:lang }}</a>
      </li>
    </ul>
  </div>
</nav>
<!-- NAVBAR -->
<!-- BANNERS SHIT CONTROLS -->
<div class="col-lg-12 head-block">

{% block content %} {% endblock %}
    </div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="ChatSettings" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ loc.UI.ROOM_SETTINGS|return_item:lang }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
         <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="arch">Archive this chat</button><br>
     </form>
 <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="leave">Leave this room</button><br>
     </form>
 <!-- Button trigger modal -->
<button type="button" class="btn btn-dark btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
  Edit room description
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Room Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
 <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
     {{ edit_description_form.as_p }}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="edit_description">Edit description (hosts only)</button><br>
     </form>      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br />
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
      {{ edit_name_form.as_p }}
      <button class="btn btn-dark btn-lg btn-block" type="submit" name="edit_room_name">Edit room name (hosts only)</button><br>
     </form>
 <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="erase_messages">Erase all messages (hosts only)</button><br>
     </form>
<form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="safe_leave">Back to lobby (chat presence secured)</button><br>
     </form>
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
      {{ change_language_code_form.as_p }}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="edit_language_code">Change room language code - host only</button><br>
     </form>
{% if is_hidden == False %}
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="make_invisible" value="True">Hide the room - host only</button><br>
     </form>
{% else %}
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="make_visible" value="False">Show the room - host only</button><br>
     </form>
{% endif %}
{% if media_autoplay == False %}
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="autoplay_on">Toggle media autoplay on - host only WIP</button><br>
     </form>
{% else %}
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="autoplay_off">Toggle media autoplay off - host only WIP</button><br>
     </form>
{% endif %}

{% if media_tolerance == False %}
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
      <button class="btn btn-dark btn-lg btn-block" type="submit" name="tolerance_on">Toggle media tolerance on - WIP<!-- makes the users able/unable to show images --></button><br>
     </form>
{% else %}
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
      <button class="btn btn-dark btn-lg btn-block" type="submit" name="tolerance_off">Toggle media tolerance off - WIP<!-- makes the users able/unable to show images --></button><br>
     </form>
{% endif %}

<div class="form-group">
     <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
    <label for="exampleFormControlSelect1">Pick a user</label>
    <select class="form-control" id="exampleFormControlSelect1" name="pick">
        {% for visitor in visitors %}
        <option value="{{ visitor.username }}">{{ visitor.username }}</option>
        {% endfor %}
    </select>
         <button class="btn btn-dark btn-lg btn-block" type="submit" name="kick">Kick a user - WIP</button><br>
  </div>

<div class="form-group">
     <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
    <label for="exampleFormControlSelect2">Pick a user</label>
    <select class="form-control" id="exampleFormControlSelect2" name="pick">
        {% for visitor in visitors %}
        <option value="{{ visitor.username }}">{{ visitor.username }}</option>
        {% endfor %}
    </select>
         <button class="btn btn-dark btn-lg btn-block" type="submit" name="ban">Ban a user - WIP</button><br>
  </div>

  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
     Role Name: <input name="role-name" aria-label="role-name">
          <label for="exampleFormControlSelect3">Pick a user</label>
    <select class="form-control" id="exampleFormControlSelect3" name="pick">
          {% for visitor in visitors %}
          <option value="{{ visitor.username }}">{{ visitor.username }}
          {% endfor %}
      </select>
      <button class="btn btn-dark btn-lg btn-block" type="submit" name="add_role">Assign a role - WIP<!-- makes the users able/unable to show images --></button><br>
     </form>

<form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
    <select class="form-control" id="exampleFormControlSelect2" name="pick">
          {% for visitor in visitors %}
          <option value="{{ visitor.username }}">{{ visitor.username }}
          {% endfor %}
      </select>
      <button class="btn btn-dark btn-lg btn-block" type="submit" name="add_host">Make a Host - WIP<!-- makes the users able/unable to show images --></button><br>
     </form>

<!--  <form method="POST" enctype="multipart/form-data">-->
<!--         {% csrf_token %}-->
<!--        <button class="btn btn-dark btn-lg btn-block" type="submit" name="leave">Kick a user - WIP</button><br>-->
<!--     </form>-->
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="leave">Change background - WIP</button><br>
     </form>
    </div>
  </div>
</div>




 <!-- Optional JavaScript -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</div></div><div id="extwaiimpotscp" style="display:none" v="{c827" f="ZTJNNE1qYzJaVEF4TFRBeE5UQXROekZsWXkxaE9EY3dMV0V5TjJJME16Wmpaams0WTMwPQ==" q="17fd37ac" c="24.76" i="36.91" u="2.664" s="19060320" w="false" m="BMe=" vn="adgr2"></div></div>
</body>
</html>
