{% extends 'chat_hat.html' %}
{% block content %}
{% load loc_extra %}
{% load static %}
    <title>{{ room_name }} Chat room at ALTNET</title>
</head>
<body>
    <!--document.getElementById('chat-log').innerHTML += (data.message + '\n');-->
  <div class="trds">
  <main class="contentd" role="main">
  <header>
 <h1 data-text="{{ room_name }}">{{ room_name }}</h1></header></main></div>
<div>
<div class="row">
    <textarea style="width: 100%;" id="chat-message-input" rows="3" name="message_text" type="text" size="100">
    </textarea><br>
</div>
    <div class="col-">
    <input class="btn btn-secondary btn-lg btn-block" style="width: 100% " id="chat-message-submit" name="chat-message-submit" type="submit" value="Send">
</div>
</div>

  <div class="col-lg-12 col-sm-12 col-md-12">
    <div id="chat-log" class="chat-log" cols="120" rows="20" style="color:#fff; background-color:#222222; border:none">
        {% for message in messages %}
        {{ message.message_text }} <br />
        {% endfor %}
    </div><br>
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        {{ chat_form.as_p }}-->
<!--        <button type="submit" name="chat_post">send</button>-->
<!--    </form>-->
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="RoomInfo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
         <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Room Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     room description: {{ room_description }}
        <br />
     room name: {{ room_name }}
    </div>
  </div>
</div>
    {{ room_name|json_script:"room-name" }}
    <script>
                const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if ("{{ authorised }}" == "True") {
                $('.chat-log').prepend(data.message + '<br />')
            } else {
                $('.chat-log').prepend(data.message + '<br />')
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            let message;
            if ("{{ authorised }}"=="True") {
                message = "{{ username }}"+": "+messageInputDom.value
            } else {
                message = "{{ username }}"+": "+messageInputDom.value
            }

            chatSocket.send(JSON.stringify({
                'message': message,
            }));
            messageInputDom.value = '';
        };

    </script>
</body>
{% endblock %}
