{% extends 'chat_hat.html' %}
{% block content %}
{% load loc_extra %}
{% load static %}
    <title id="title">{{ room_name }} Chat room at ALTNET</title>
</head>
<body>
    <!--document.getElementById('chat-log').innerHTML += (data.message + '\n');-->
<!--  <div class="trds">-->
<!--  <main class="contentd" role="main">-->
<!--  <header>-->
<!-- <h1 data-text="{{ room_name }}" id="room_name">{{ room_name }}</h1></header></main></div>-->
    <div>
<div class="row d-flex justify-content-center">
    <textarea style="width: 50%; border-radius: 10px; margin-top: 10px;" id="chat-message-input" rows="2" name="message_text" type="text" size="100">
    </textarea>
</div>
    <div class="col- d-flex justify-content-center">
    <input class="btn btn-secondary btn-lg btn-block" style="width: 25%; margin-bottom: 10px; margin-top: 10px;" id="chat-message-submit" name="chat-message-submit" type="submit" value="Send">
</div>
</div>
    <br />
  <div class="col-lg-12 col-sm-12 col-md-12">
    <div id="chat-log" class="chat-log" cols="120" rows="20" style="color:#fff; background-color:#222222; border:none">
        {% for message in messages %}
        {% if message.message_author == username %}
        <div class="text-right">
            <span style="background: #1c1919; padding: 15px; border-radius:10px;">{{ message.message_author }}</span>

        <div style="background: #1c1919; margin-bottom: 25px; padding: 15px; border-radius: 10px; padding-bottom: 5px;
                    word-wrap: break-word;">
        {{ message.message_text|linebreaksbr }} <br />
        </div></div>


        {% elif message.message_author == 'System' %}
        <div>
        <div class="text-center">
            <span style="background: #1c1919; padding: 15px; border-radius:10px;">{{ message.message_author }}</span>

        <div style="background: #1c1919; margin-bottom: 25px; padding: 15px; border-radius: 10px; padding-bottom: 5px;
                    word-wrap: break-word;">
        <span style="">{{ message.message_text|wordwrap:50|linebreaksbr }}</span> <br />
        </div></div></div>


        {% else %}
        <span style="background: #141414; padding: 15px; border-radius:10px;">
            {{ message.message_author }}
        </span>
        <div style="background: #141414; margin-bottom: 25px; padding: 15px; border-radius: 10px; padding-bottom: 5px;
                    word-wrap: break-word;">
        <span style="align: right">{{ message.message_text|wordwrap:50|linebreaksbr }}</span>
        </div>
        {% endif %}
        {% endfor %}
    </div><br>

<!--    <div class="col-">-->
<!--    <input class="btn btn-secondary btn-lg btn-block" style="width: 100% " id="trigger1" name="trigger-1" type="submit" value="trigger 1">-->
<!--    <input class="btn btn-secondary btn-lg btn-block" style="width: 100% " id="trigger2" name="trigger-2" type="submit" value="trigger 2">-->
<!--    <input class="btn btn-secondary btn-lg btn-block" style="width: 100% " id="trigger3" name="trigger-3" type="submit" value="trigger 3">-->
<!--    <input class="btn btn-secondary btn-lg btn-block" style="width: 100% " id="test-message" name="trigger-3" type="submit" value="Message test">-->
<!--    </div>-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        {{ chat_form.as_p }}-->
<!--        <button type="submit" name="chat_post">send</button>-->
<!--    </form>-->
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="RoomInfo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
         <div class="modal-header">
        <h5 class="modal-title">Room Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        room description: <div id="room_description_display">{{ room_description }}</div>
        <br />
        room name: <div id="room_name_display">{{ room_name }}</div>
    </div>
  </div>
</div>


    <div class="modal fade bd-example-modal-lg trigger" tabindex="-1" role="dialog" aria-labelledby="ChatSettings" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">{{ loc.UI.ROOM_SETTINGS|return_item:lang }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <br />
        <button class="btn btn-dark btn-lg btn-block" type="submit" id="arch" name="arch">Archive this chat</button><br />
        <button class="btn btn-dark btn-lg btn-block" type="submit" id="erase_messages" name="erase_messages">Erase all messages (hosts only)</button><br>
        <button class="btn btn-dark btn-lg btn-block" type="submit" id="toggle_visibility" name="toggle_visibility">{% if is_hidden == False %}Hide this room - host only{% else %}Show this room - host only{% endif %}</button><br>
        <button class="btn btn-dark btn-lg btn-block" type="submit" id="toggle_autoplay" name="toggle_autoplay">{% if media_autoplay == False %}Toggle media autoplay on - host only{% else %}Toggle media autoplay off - host only{% endif %}</button><br>
        <button class="btn btn-dark btn-lg btn-block" type="submit" id="toggle_tolerance" name="toggle_tolerance">{% if media_tolerance == False %}Toggle media tolerance on - host only{% else %}Toggle media tolerance off - host only{% endif %}</button><br>
        <br /><br />


 <!-- Button trigger modal -->
<button type="button" class="btn btn-dark btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
  Edit room description
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Room Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     <input name="edit_room_description_input" id="edit_room_description_input">
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="edit_room_description_submit"
        id="edit_room_description_submit">Edit description (hosts only)</button><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br />
        <input name="edit_room_name_input" id="edit_room_name_input" placeholder="Edit room name">
      <button class="btn btn-dark btn-lg btn-block" type="submit" name="edit_room_name_submit" id="edit_room_name_submit">Edit room name (hosts only)</button><br />
<form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="safe_leave">Back to lobby (chat presence secured)</button><br>
     </form>
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
      {{ change_language_code_form.as_p }}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="edit_language_code">Change room language code - host only</button><br>
     </form>
{% if is_hidden == False %}
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
<!--         <button class="btn btn-dark btn-lg btn-block" type="submit" name="make_invisible" value="True">Hide the room - host only</button><br>
 -->     </form>
{% else %}
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
<!--         <button class="btn btn-dark btn-lg btn-block" type="submit" name="make_visible" value="False">Show the room - host only</button><br>
 -->     </form>
{% endif %}

<div class="form-group">
    <label for="username_kick_selector">Pick a user</label>
    <select class="form-control" id="username_kick_selector" name="username_kick_selector">
        {% for visitor in visitors %}
        <option value="{{ visitor.username }}">{{ visitor.username }}</option>
        {% endfor %}
    </select>
         <button class="btn btn-dark btn-lg btn-block" type="submit" id="username_kick_submit" name="username_kick_submit">Kick a user - WIP</button><br>
  </div>

<div class="form-group">
    <label for="username_ban_selector">Pick a user</label>
    <select class="form-control" id="username_ban_selector" name="username_ban_selector">
        {% for visitor in visitors %}
        <option value="{{ visitor.username }}">{{ visitor.username }}</option>
        {% endfor %}
    </select>
         <button class="btn btn-dark btn-lg btn-block" type="submit" id="username_ban_submit" name="username_ban_submit">Ban a user - WIP</button><br>
</div>
     Role Name: <input name="role_name_input" id="role_name_input" placeholder="Role name">
          <label for="role_user_selector">Pick a user</label>
    <select class="form-control" id="role_user_selector" name="role_user_selector">
          {% for visitor in visitors %}
          <option value="{{ visitor.username }}">{{ visitor.username }}
          {% endfor %}
      </select>
      <button class="btn btn-dark btn-lg btn-block" type="submit" name="role_add_submit" id="role_add_submit">Assign a role - WIP<!-- makes the users able/unable to show images --></button><br>

    <select class="form-control" id="host_user_selector" name="host_user_selector">
          {% for visitor in visitors %}
          <option value="{{ visitor.username }}">{{ visitor.username }}
          {% endfor %}
      </select>
      <button class="btn btn-dark btn-lg btn-block" type="submit" name="host_add_submit" id="host_add_submit">Make a Host - WIP<!-- makes the users able/unable to show images --></button><br>

<!--  <form method="POST" enctype="multipart/form-data">-->
<!--         {% csrf_token %}-->
<!--        <button class="btn btn-dark btn-lg btn-block" type="submit" name="leave">Kick a user - WIP</button><br>-->
<!--     </form>-->
  <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <button class="btn btn-dark btn-lg btn-block" type="submit" name="leave">Change background - WIP</button><br>
     </form>
    </div>
    {{ room_id|json_script:"room-id" }}
    <script>
        const roomId = JSON.parse(document.getElementById('room-id').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomId
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if ("{{ authorised }}" == "True") {
                $('.chat-log').prepend(data.message + '<br />')
            } else {
                $('.chat-log').prepend(data.message + '<br />')
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message').click();
            }
        };

    function clientAction(socket, activator) {
        socket.send(JSON.stringify({
            'action': activator,
        }));
    };

    function clientActionChangeStr(socket, activator, name) {
        socket.send(JSON.stringify({
            'action': activator,
            'name': name
        }));
    };

    function clientActionAddRole(socket, activator, role_name, username) {
        socket.send(JSON.stringify({
            'action': activator,
            'role_name': role_name,
            'username': username
        }));
    };


    document.querySelector('#arch').onclick = function(e) {
        clientAction(chatSocket, '#arch');
    };


<!--    document.querySelector('#test-message').onclick = function(e) {-->
<!--       clientAction(chatSocket, '#test-message');-->
<!--    };-->

    document.querySelector('#erase_messages').onclick = function(e) {
        $('#chat-log').html("");
       clientAction(chatSocket, '#erase_messages');
    };

    document.querySelector('#toggle_visibility').onclick = function(e) {
       if ($('#toggle_visibility').html() === "Hide this room - host only") {
            $('#toggle_visibility').html('Show this room - host only')
       } else if ($('#toggle_visibility').html() === 'Show this room - host only') {
            $('#toggle_visibility').html('Hide this room - host only')
       }
       clientAction(chatSocket, '#toggle_visibility');
    };

    document.querySelector('#toggle_autoplay').onclick = function(e) {
       if ($('#toggle_autoplay').html() === "Toggle media autoplay on - host only") {
            $('#toggle_autoplay').html('Toggle media autoplay off - host only')
       } else if ($('#toggle_autoplay').html() === 'Toggle media autoplay off - host only') {
            $('#toggle_autoplay').html('Toggle media autoplay on - host only')
       }
       clientAction(chatSocket, '#toggle_autoplay');
    };

    document.querySelector('#toggle_tolerance').onclick = function(e) {
       if ($('#toggle_tolerance').html() === "Toggle media tolerance on - host only") {
            $('#toggle_tolerance').html('Toggle media tolerance off - host only')
       } else if ($('#toggle_tolerance').html() === 'Toggle media tolerance off - host only') {
            $('#toggle_tolerance').html('Toggle media tolerance on - host only')
       }
       clientAction(chatSocket, '#toggle_tolerance');
    };

    document.querySelector('#edit_room_name_submit').onclick = function(e) {
       let new_name = $('#edit_room_name_input').val()
       clientActionChangeStr(chatSocket, '#edit_room_name_submit', new_name);
       $('#room_name').html(new_name);
       $('#room_name').attr('data-text', new_name);
       $('#title').html(new_room);
    };
    document.querySelector('#edit_room_description_submit').onclick = function(e) {
       let new_description = $('#edit_room_description_input').val()
       clientActionChangeStr(chatSocket, '#edit_room_description_submit', new_description);
       $('#room_description_display').html(new_description);
    };

    document.querySelector('#username_kick_submit').onclick = function(e) {
       let username = $('#username_kick_selector').val()
       clientActionChangeStr(chatSocket, '#username_kick_submit', username);
    };

    document.querySelector('#username_ban_submit').onclick = function(e) {
       let username = $('#username_ban_selector').val()
       clientActionChangeStr(chatSocket, '#username_ban_submit', username);
    };

    document.querySelector('#role_add_submit').onclick = function(e) {
       let role = $('#role_name_input').val();
       let username = $('#role_user_selector').val();
       clientActionAddRole(chatSocket, '#role_add_submit', role, username);
    };

    document.querySelector('#host_add_submit').onclick = function(e) {
       let username = $('#host_user_selector').val()
       clientActionChangeStr(chatSocket, '#host_add_submit', username);
    };

<!--    document.querySelector('#trigger1').onclick = function(e) {-->
<!--       clientAction(chatSocket, '#private');-->
<!--    };-->

    //   document.querySelector('#make_visible').onclick = function(e) {
    //     document.getElementById("trigger").contentWindow.location.reload(true);
    //     $('#make_visible').html('Hide the room - host only')
    //     $('#make_visible').attr('name', 'make_invisible');
    //     $('#make_visible').attr('id', 'make_invisible');
    //    clientAction(chatSocket, '#make_visible');
    // };
    
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            let message;
            if ("{{ authorised }}"=="True") {
                message = "{{ username }}"+": "+messageInputDom.value
            } else {
                message = "{{ username }}"+": "+messageInputDom.value
            }

            chatSocket.send(JSON.stringify({
                'message': message,
            }));
            messageInputDom.value = '';
        };

       




    </script>
</body>
{% endblock %}
