{% extends 'hat.html' %}
{% block content %}
{% load loc_extra %}
    <title>{{ room_name }} Chat room at ALTNET</title>
</head>
<body>
    <textarea disabled id="chat-log" cols="120" rows="20" style="color:#fff; background-color:#000">
        {% for message in messages %}
        {{ message.message_author }}: {{ message.message_text }}
        {% endfor %}
    </textarea><br>
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        {{ chat_form.as_p }}-->
<!--        <button type="submit" name="chat_post">send</button>-->
<!--    </form>-->
    <input id="chat-message-input" name="message_text" type="text" size="100"><br>
    <input id="chat-message-submit" name="chat-message-submit" type="submit" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += ('{{ user.username }}: ' + data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
{% endblock %}
