{% extends 'hat.html' %}
{% block content %}
{% load loc_extra %}
<title>{{ me.TITLE|return_item:lang }} | FORGE</title>
            <div class="row col-">
               <div class=" col-lg-9 col- content">
                  <br>
                  <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="{{ me.greet|random_message:lang }}">{{ me.greet|random_message:lang }}
                           </h1>
                        </header>
                     </main>
                  </div>
                  <br>
<!--                  -->
                  {% if admins %}
                  {% for admin in admins %}
                  <div class="card">
                     <div class="card-body">
                        <h4 class="card-title">
                           <p class="article"> {{ admin.post_title }} </p>
                        </h4>
                        {{ admin.post_text|linebreaks }}
                        <div class="d-flex flex-row-reverse">{{ admin.post_date }}</div>
                     </div>
                  </div>
                  <br />
                  {% endfor %}
                  {% else %}
                  {{ errors.NO_AGENDA_POSTS|return_item:lang }}
                  {% endif %}
<!--                  -->

                  <br>
                  <hr>
                  <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="{{ headers.PUBLIC_MESSAGES|return_item:lang }}">{{ headers.PUBLIC_MESSAGES|return_item:lang }}
                           </h1>
                        </header>
                     </main>
                  </div>
                  <br>
                  {% if posts %}
                  {% for post in posts %}
                  <div class="card">
                     <div class="card-body">
                              <a class="article" href="{% url 'Board:guest' post.post_author%}"> {{ post.post_author }}</a>
                        <div class="d-flex flex-row-reverse">{{ post.post_date }}</div>
                        {{ post.post_text|linebreaks }}
                     </div>
                  </div>
                  <br />
                  {% endfor %}
                  {% else %}
                  {{ errors.NO_MESSAGES|return_item:lang }}
                  {% endif %}

               </div>
               <div class=" col-lg-3 col- left-sidebar">
                  <br>
                  <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="{{ headers.THREADS|return_item:lang }}">{{ headers.THREADS|return_item:lang }}
                           </h1>
                        </header>
                     </main>
                  </div>
                  <br>
                  {% if threads %}
                  <ul class="list-group">
                     {% for thread in threads %}
                     <li class="list-group-item">
                        <h6> <a class="userlk" href="{% url 'Board:guest' thread.thread_author %}">
                        {{ thread.thread_author }}</a> </h6>
                        |&nbsp;<a href="{% url 'Board:thread' thread.id %}"> {{ thread.thread_text|truncatewords:10 }}  </a>
                     </li>
                     {% endfor %}
                  </ul>
                  {% else %}
                  {{ errors.NO_THREADS|return_item:lang }}
                  {% endif %}
                  <br>
               </div>
            </div>
{% endblock %}