{% extends 'hat.html' %}
{% block content %}
<title>Home | HikkaHq</title>
            <div class="row col-">
               <div class=" col-lg-9 col- content">
                  <br>
                  <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="Welcome to HQ">Welcome to <span class="hide-mobile"> HQ
                              </span>
                           </h1>
                        </header>
                     </main>
                  </div>
                  <br>
<!--                  -->
                  {% if admins %}
                  {% for admin in admins %}
                  <div class="card">
                     <div class="card-body">
                        <h4 class="card-title">
                           <p class="article"> {{ admin.post_title }} </p>
                        </h4>
                        {{ admin.post_text|linebreaks }}
                        <div class="d-flex flex-row-reverse">{{ admin.post_date }}</div>
                     </div>
                  </div>
                  <br />
                  {% endfor %}
                  {% else %}
                  No admin posts here
                  {% endif %}
<!--                  -->

                  <br>
                  <hr>
                  <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="Public Messages">Public Messages<span class="hide-mobile">
                              </span>
                           </h1>
                        </header>
                     </main>
                  </div>
                  <br>
                  {% if posts %}
                  {% for post in posts %}
                  <div class="card">
                     <div class="card-body">
                              <a class="article" href="{% url 'Board:guest' post.post_author%}"> {{ post.post_author }}</a>
                        <div class="d-flex flex-row-reverse">{{ post.post_date }}</div>
                        {{ post.post_text|linebreaks }}
                     </div>
                  </div>
                  <br />
                  {% endfor %}
                  {% else %}
                  Public post list is empty or something went wrong
                  {% endif %}
                  <br>
                  <br> <br>
               </div>
               <div class=" col-lg-3 col- left-sidebar">
                  <br>
                  <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="Threads">Threads<span class="hide-mobile">
                              </span>
                           </h1>
                        </header>
                     </main>
                  </div>
                  <br>
                  <!--
                     <div class="row">
                       <div class="col-sm-4">
                         <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">MrBloom</h5>
                             <p class="card-text">Back online</p>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="col-sm-4">
                         <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">Neolic</h5>
                             <p class="card-text">A scene at the sea</p>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="col-sm-4">
                         <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">Sasha2dx</h5>
                             <p class="card-text">Hello Im alcoholic from moscow, real life story</p>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="col-sm-4">
                         <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">BadLuck</h5>
                             <p class="card-text">What games do u play?</p>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="col-sm-4">
                         <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">RickyRaeBaton</h5>
                             <p class="card-text">wer</p>
                           </div>
                         </div>
                       </div>
                     </div>
                      -->
                  {% if threads %}
                  <ul class="list-group">
                     {% for thread in threads %}
                     <li class="list-group-item">
                        <h6> <a class="userlk" href="{% url 'Board:guest' thread.thread_author %}">
                        {{ thread.thread_author }}</a> </h6>
                        |&nbsp;<a href="{% url 'Board:thread' thread.id %}"> {{ thread.thread_text|truncatewords:10 }}  </a>
                     </li>
                     {% endfor %}
                  </ul>
                  {% else %}
                  no threads to show
                  {% endif %}
                  <br>
               </div>
            </div>
{% endblock %}