{% extends 'hat.html' %}
{% block content %}
            <div class="row col-">
               <div class=" col-lg-9 col- content">
                  <br>
                  <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="Welcome to HQ">Welcome to <span class="hide-mobile"> HQ
                              </span>
                           </h1>
                        </header>
                     </main>
                  </div>
                  <br>
                  <div class="card">
                     <div class="card-body">
                        <h4 class="card-title">
                           <a class="article" href="https://hikkahq.me/dev.php#63"> What is Hikkahq? </a>
                        </h4>
                        Firstly - it's a home for so rare in the digital world - anonymity.<br>
                        This site does not collect your personal information, does not require
                        to verify the identity, and does not store your ip address in its
                        database.<br>
                        The main rule of the team is to provide means of anonymous communication, without using your IDs on the World Wide Web.<br>
                        <br>
                        Fortunately, or unfortunately - the site selection policy restricts
                        unauthorized users access to all materials, and forces them to finish
                        their experience using only the authorization page.<br>
                        <br>
                        We are closed from the eyes of others, a community that wants to maintain the phenomenon of anonymity in the most true form.
                     </div>
                  </div>
                  <br>
                  <div class="card">
                     <div class="card-body">
                        <h4 class="card-title">
                           <a class="article" href="https://hikkahq.me/dev.php#62"> New update is coming soon </a>
                        </h4>
                        Announcing new thread system. If you have any topic you want to
                        discuss with your mates - you can do it in our Board, by creating a new
                        thred. You'll have an opportunity to find your mates using Search by
                        users. Your personal accounts will be more than username in menu.
                        Personal pages will be added soon. Mailing system will be added soon, so
                        texting with your mates will be possible.
                     </div>
                  </div>
                  <br>
                  <hr>
                  <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="Public Messages">Public Messages<span class="hide-mobile">
                              </span>
                           </h1>
                        </header>
                     </main>
                  </div>
                  <br>
                  <div class="card">
                     <div class="card-body">
                        <div class=" d-flex flex-row mb-3">
                           <h4 class="card-title">
                              <a class="article" href="https://hikkahq.me/user.php?user=BadLuck"> BadLuck</a>
                           </h4>
                        </div>
                        <div class="d-flex flex-row-reverse">2019-08-07 09:56:36</div>
                        Don't forget to leave something in the past to come back for it in the future.
                     </div>
                  </div>
                  <br>
                  <br> <br>
               </div>
               <div class=" col-lg-3 col- left-sidebar">
                  <br>
                  <div class="trds">
                     <main class="contentd" role="main">
                        <header>
                           <h1 data-text="Threads">Threads<span class="hide-mobile">
                              </span>
                           </h1>
                        </header>
                     </main>
                  </div>
                  <br>
                  <!--
                     <div class="row">
                       <div class="col-sm-4">
                         <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">MrBloom</h5>
                             <p class="card-text">Back online</p>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="col-sm-4">
                         <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">Neolic</h5>
                             <p class="card-text">A scene at the sea</p>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="col-sm-4">
                         <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">Sasha2dx</h5>
                             <p class="card-text">Hello Im alcoholic from moscow, real life story</p>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="col-sm-4">
                         <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">BadLuck</h5>
                             <p class="card-text">What games do u play?</p>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="col-sm-4">
                         <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">RickyRaeBaton</h5>
                             <p class="card-text">wer</p>
                           </div>
                         </div>
                       </div>
                     </div>
                      -->
                  {% if threads %}
                  <ul class="list-group">
                     {% for thread in threads %}
                     <li class="list-group-item">
                        <h6> <a class="userlk" href="{% url 'Board:guest' thread.thread_author %}">
                        {{ thread.thread_author }}</a> </h6>
                        |&nbsp;<a href="{% url 'Board:thread' thread.id %}"> {{ thread.thread_text }}  </a>
                     </li>
                     {% endfor %}
                  </ul>
                  {% else %}
                  no threads to show
                  {% endif %}
                  <br>
               </div>
            </div>
{% endblock %}