{% extends 'hat.html' %}
{% block content %}
{% load loc_extra %}
<title>{{ loc.info.TITLE|return_item:lang }} | FORGE</title>
<div class="row col-">

        <div class="col-sm-12 col-lg-9 col- content">
       <br>
<div class="trds">
  <main class="contentd" role="main">
  <header>
 <h1 data-text="{{ loc.info.ABOUT|return_item:lang }}">{{ loc.info.ABOUT|return_item:lang }}</h1></header></main></div>
<br>
<div class="card">
  <div class="card-body">  <h4 class="card-title">What is FORGE?</h4>
Firstly - it's a home for so rare in the digital world - anonymity.<br>
This site does not collect your personal information, does not require
to verify the identity, and does not store your ip address in its
database.<br>
The main rule of the team is to provide means of anonymous communication, without using your IDs on the World Wide Web.<br>
<br>
Fortunately, or unfortunately - the site selection policy restricts
unauthorized users access to all materials, and forces them to finish
their experience using only the authorization page. <br>
<br>
We are closed from the eyes of others, a community that wants to maintain the phenomenon of anonymity in the most true form.
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    Founder, front-end and back-end - <a href="#">Noise</a>.
   Artwork by <a href="#">Baton the artist</a>. Visit he's <a href="https://rickyraebaton.deviantart.com/" target="_blank"> Deviantart </a>
   Special thanks to Alenche. Check out her <a href="https://twitter.com/UkySo" target="_blank">Twitter</a>.
  </div>
</div>
<br>
<br> <br>
 <div class="trds">
  <main class="contentd" role="main">
  <header>
 <h1 data-text="{{ loc.info.FREQUENTLY_ASKED_QUESTIONS|return_item:lang }}">{{ loc.info.FREQUENTLY_ASKED_QUESTIONS|return_item:lang }}</h1></header></main></div>
<br>
 <ul class="list-group">
  <li class="list-group-item"><h6>Question</h6>
  Answer</li>
  </ul>
  <br>
</div>

      <div class="col-sm-12 col-lg-3 col- left-sidebar">
      <br>
       <div class="trds">
  <main class="contentd" role="main">
  <header>
 <h1 data-text="{{ loc.info.LATEST|return_item:lang }}">{{ loc.info.LATEST|return_item:lang }}</h1></header></main></div> <br>

<ul class="list-group">
    {% if logs %}
    {% for log in logs %}
  <li class="list-group-item"> <h6> {{ log.note_date }} </h6>
      {{ log.note_text }}</li>
    {% endfor %}
    {% else %}
    No logs to display
    {% endif %}
</ul>

<br>

    </div>

 </div>
{% endblock %}